# VLA_WALL_X_ROOT=D:\Dev\repos\external\wall-x
# VLA_WALL_WM_ROOT=
# VLA_DMUON_ROOT=
# VLA_CHECKPOINT=
VLA_DATASET_ROOT=
VLA_DEVICE=cuda:0
VLA_API_PORT=11024
VLA_FRONTEND_PORT=11025
VLA_PREFAB_APPS=1
VLA_WORLDLABS_MCP_URL=http://127.0.0.1:10865
VLA_ROBOTICS_MCP_URL=http://127.0.0.1:10892
VLA_AVATAR_MCP_URL=http://127.0.0.1:10793
MCP_TRANSPORT=stdio
